# top-most EditorConfig file
root = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{php,js,json,html,css,less,scss,xml,txt, twig}]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
